#back {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  #back img {
	width: 90%;
  }

  .backRight,
  .backLeft {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  }

  .backRight h3,
  .backLeft h3 {
	color: white;
	padding: 50px;
  }