a {
	width: calc(33.3% - 16px);
}

.form-buy {
	width: 50%;
	margin: 50px auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-buy input{
	width: 50%;

}

.form-page {
	display: none;
}

.form-page.active {
	display: block;
}

.form-header {
	text-align: center;
	font-size: 24px;
	margin-bottom: 30px;
}

.form-step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.form-step label {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.form-step input[type="text"],
.form-step select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #f3f3f3;
	font-size: 16px;
	text-align: center;
}

.form-nav {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.form-nav button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.form-nav button:hover {
	background-color: #3e8e41;
}

.form-nav button:disabled {
	background-color: #ccc;
	cursor: default;
}