* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: #FFF;
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #5d5d5d;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

hr{
    color: #5d5d5d; 
}
.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}

.landing-page .header-area .links li:last-child {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #000000;
}

.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h2 {
    font-size: 32px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #000000;
}

.landing-page .image {
    width: 40%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
}

.clearfix {
  clear: both;
}

.links a{
    color: white;
    text-decoration: none;
}

.tableau{
    padding: 5%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
  }
  
thead th:nth-child(1) {
    width: 30%;
  }
  
thead th:nth-child(2) {
    width: 20%;
  }
  
thead th:nth-child(3) {
    width: 15%;
  }
  
thead th:nth-child(4) {
    width: 35%;
  }
  
th td {
    padding: 20px;
  }

  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }
.tablehead{
    background-color: #F5F5F5   
}
.firstrow {
    background-color: #ffffff;
  }

  .secondrow {
    background-color: #F5F5F5;
  }

  .thirdrow {
    background-color: #ffffff;
  }

  .fourthrow {
    background-color: #F5F5F5;
  }
  

/* End Landing Page */