.main {
    display: flex;
    width: 100%;
}

.dash {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-right: 3%;

}

.box1 {
    order: 1;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 80%;
    padding: 5%;
    margin-bottom: 3%;
    border: 1px black solid;
    border-radius: 8px;
}

.box2 {
    order: 2;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 17%;
    padding: 5%;
    border: 1px black solid;
    border-radius: 8px;
}

.card-list {
    width: 20%;
}

.card {
	border-radius: 8px;
    border: 1px black solid;
	color: black;
	padding: 10px;
	position: relative;

	.zmdi {
		color: white;
		font-size: 28px;
		opacity: 0.3;
		position: absolute;
		right: 13px;
		top: 13px;
	}
	
	.stat {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		font-size: 13px;
		margin-top: 25px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.title {
		display: inline-block;
		font-size: 15px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.value {
		font-size: 28px;
		padding: 0 10px;
	}
	
	&.blue {
		background-color: rgb(255, 255, 255);
	}
	
	&.green {
		background-color: rgb(255, 255, 255);
	}
	
	&.orange {
		background-color: rgb(255, 255, 255);
	}
	
	&.red {
		background-color: rgb(255, 255, 255);
	}
}